<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Alevel\Orders\Api\Model\AjaxInterface"
                type="Alevel\Orders\Model\AjaxOrder"/>
    <virtualType name="Alevel\Orders\Model\ResourceModel\AjaxOrder\GridCollection"
        type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ajax_order</argument>
            <argument name="resourceModel"
                      xsi:type="string">Alevel\Orders\Model\ResourceModel\AjaxOrder</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="alevel_order_listing_data_source" xsi:type="string">Alevel\Orders\Model\ResourceModel\AjaxOrder\GridCollection</item>
            </argument>
        </arguments>
    </type>
</config>
