<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="alevel_random_number" frontName="alevel_random_number">
            <module name="Alevel_RandomNumber"/>
        </route>
    </router>
</config>


